@using Shop_Markov.Data.Mocks.Models
@using Shop_Markov.Data.Models
@model Items
@{
    Layout = "_Layout";
}

<h3>Вы уверены, что хотите удалить этот товар?</h3>

<div>
    <h4>@Model.Name</h4>
    <div>Описание: @Model.Description</div>
    <div>Стоимость: @Model.Price</div>
    <div>Категория: @Model.Category.Name</div>
</div>

<form method="post" asp-action="Delete">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Удалить"/>
    <a href="/Items/List">Отмена</a>
</form>

@if (ViewBag.Error != null)
{
    <div style=margin-top: 10px;">@ViewBag.Error</div>
}