@using Shop_Markov.Data.ViewModell
@using Shop_Markov.Data.Mocks.Models
@using Shop_Markov.Data.Models
@model VMItems

@{
	Layout = "_Layout";

}

<div>
	<select onchange="SelectCategory(this)">
		<option value="0">Все категории</option>
		@{
			foreach (var Category in Model.Categories)
			{
				if (Category.Id == Model.SelectCategory){
					<option selected="selected" value="@Category.Id">@Category.Name</option>
				}
				else{
					<option value="@Category.Id">@Category.Name</option>
				}
			}
		}
	</select>
	<script>
		function SelectCategory (sender) {
		window.location = "/Items/List?id=" + sender.value 
		}
	</script>
</div>

<h2>Все предметы</h2>
<a href="/Items/Add">Добавить новый товар</a>

@{
	foreach (var item in Model.Items)
	{
		if (Model.SelectCategory == 0 || item.Category.Id == Model.SelectCategory){
			<div class="item" style="border: 1px solid #ccc; margin: 10px; padding: 10px;">

				<div><img src="/img/@item.Img" alt="@item.Name" style="max-width: 200px;" /></div>

				<div class="data">
					<h3>Модель: @item.Name</h3>
					<p>Цена: @item.Price.ToString("c")</p>
					<p>Категория @item.Category.Name</p>
					<p>Описание: @item.Description</p>
					<div>
						<a href="/Items/Change?id=@item.Id">Редактировать</a> |
						<a href="/Items/Delete?id=@item.Id" onclick="return confirm('Вы уверены, что хотите удалить этот товар?')">Удалить</a>
					</div>
				</div>
				<div class="basket">
					<div class="button" id="@item.Id">
						В корзину
					</div>
				</div>
				<div class="count">
					<div class="button min">-</div>
					<div class="text">1</div>
					<div class="button max">+</div>
				</div>
			</div>
		}
	}
}
<script>
	$(".item").children(".basket").children(".button").click(function(){
		$(this).parent().children(".count").show();
		$(this).hide();
		$.ajax({
			url: '@Url.Action("Basket", "Items")',
			contentType: "application/json; charset=utf-8",
			data: { idItem: $(this).attr('id') },
			dataType: "json",
			success: SuccessBasket,
			error: AjaxError
		});
	});
	function SuccesBasket(data) {
		console.log(data);
	}
	function AjaxError() {
		console.log("Ошибка выполлнения ajax")
	}
</script>
