@using Shop_Markov.Data.ViewModell

@model VMItems

@{
	Layout = "_Layout";
}

<div>
	<select onchange="SelectCategory(this)">
		<option value="0">Все категории</option>
		@{
			foreach (var Category in Model.Categories)
			{
				if (Category.Id == Model.SelectCategory){
					<option selected="selected" value="@Category.Id">@Category.Name</option>
				}
				else{
					<option value="@Category.Id">@Category.Name</option>
				}
			}
		}
	</select>
	<script>
		function SelectCategory (sender) {
			window.location = "/Items/List?id=" + sender.value 
		}
	</script>
</div>

<h2>Все предметы</h2>
<a href="/Items/Add">Добавить новый товар</a>

@{
	foreach (var item in Model.Items)
	{
		if (Model.SelectCategory == 0 || item.Category.Id == Model.SelectCategory){
			<div class="item" style="border: 1px solid #ccc; margin: 10px; padding: 10px;">
				<img src="@item.Img" style="max-width: 200px;" />
				<div class="data">
					<h3>Модель: @item.Name</h3>
					<p>Цена: @item.Price.ToString("c")</p>
					<p>Категория @item.Category.Name</p>
					<p>Описание: @item.Description</p>
					<div>
						<a href="/Items/Change?id=@item.Id">Редактировать</a> |
						<a href="/Items/Delete?id=@item.Id" onclick="return confirm('Вы уверены, что хотите удалить этот товар?')">Удалить</a>
					</div>
				</div>
			</div>
		}
	}
}